@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: var(--font-poppins);
}

@theme {
  --color-text-primary: #272727;
  --color-text-secondary: #61666a;
  --color-border-primary: #e5e5e5;
  --color-button-primary: #5666f0;
  --color-button-secondary: #8893f1;
  --color-pink-bg: #f9dcde;
}

